body {
    margin: 0;
}

.container {
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li a{
    text-decoration: none;
    color: rgba(255,255,255,.5);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serifs;
}

.logo {
    margin-left: 10px;
}

.logo h1 {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit {
    margin-right: 10px;
}

.submit input {
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 9px;
    margin-right: 5px;
}

.submit button {
    color: #28a745;
    border-color: #28a745;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: transparent;
    border: 1px solid;
}

.title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    background-color: rgb(252, 230, 196);
}

.title h1 {
    color: tomato;
    font-weight: 800;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #707077;
    text-align: center;
}

footer h1 {
    font-size: 14px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer span {
    color: rgb(255, 82, 82)
}