* {
  background: #2A343D;
}

header {
  text-align: center;
}
header h1 {
  color: white;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 10px;
}
header p {
  color: rgb(172, 172, 172);
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 10px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template: 200px 200px 200px 200px 200px 200px/170px 170px 170px 170px 170px 170px;
  grid-template-areas: "item5 item1 item1 item1 item3 item3" "item6 item1 item1 item1 item4 item4" "item7 item9 item2 item2 item11 item12" "item8 item10 item2 item2 item13 item14";
}
.container .item1 {
  background: linear-gradient(90deg, rgb(255, 51, 220) 32%, rgb(255, 210, 253) 100%);
  grid-area: item1;
}
.container .item2 {
  background: linear-gradient(90deg, rgb(255, 51, 220) 32%, rgb(255, 210, 253) 100%);
  grid-area: item2;
}
.container .item3 {
  background: #33f0ff;
  grid-area: item3;
}
.container .item4 {
  background: #33f0ff;
  grid-area: item4;
}
.container .item5 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item5;
}
.container .item6 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item6;
}
.container .item7 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item7;
}
.container .item8 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item8;
}
.container .item9 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item9;
}
.container .item10 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item10;
}
.container .item11 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item11;
}
.container .item12 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item12;
}
.container .item13 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item13;
}
.container .item14 {
  background: linear-gradient(90deg, rgb(255, 100, 220) 32%, rgb(255, 247, 170) 100%);
  grid-area: item14;
}
.container .item1, .container .item2, .container .item3, .container .item4, .container .item5, .container .item6, .container .item7, .container .item8, .container .item9, .container .item10, .container .item11, .container .item12, .container .item13, .container .item14 {
  padding: 30px;
  margin: 5px;
  text-align: center;
}
.container .item1 .fa-diamond {
  padding-top: 140px;
}
.container .item2 .fa-diamond {
  padding-top: 140px;
}
.container i {
  background: transparent;
  font-size: 35px;
  color: white;
  display: inline-block;
  padding-top: 35px;
}/*# sourceMappingURL=style.css.map */