* {
    margin: 0;
}

header {
    background-image: url("https://mobirise.com/extensions/socialm5/instagram-growth-agency/assets/images/photo-1557682224-5b8590cd9ec5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5rem;

    .title {
        text-align: center;
        padding-top: 5rem;

        h2 {
            text-align: center;
            margin-bottom: 40px;
            color: #ffffff;
            letter-spacing: 5.2px;
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1;
            font-weight: 400;
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 6.4375rem;
            line-height: 1.1;
            word-break: break-word;
            word-wrap: break-word;
            font-weight: 400;

            span {
                font-family: 'Montagu Slab', serif;
                font-style: italic;
            }
        }

        button {
            margin-top: 20px;
            border-radius: 100px;
            padding: 1.25rem 3.5625rem;
            letter-spacing: 5.4px;
            border: none;
            line-height: 20px;
            color: #ef8600;


            &:hover {
                color: #985600 !important;
                background-color: #ffd298 !important;
                border-color: #ffd298 !important;
                cursor: pointer;
            }

        }
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        background: rgba(82, 44, 103, 0.2);

        button {
            display: flex;
            justify-content: flex-end;
            border-radius: 100px;
            padding: 15px 30px;
            letter-spacing: 5.4px;
            border: none;
            line-height: 20px;
            color: #ef8600;
            border-width: 1px;
            margin: 9.6px;
            font-size: 18px;

            &:hover {
                color: #985600 !important;
                background-color: #ffd298 !important;
                border-color: #ffd298 !important;
                cursor: pointer;
            }

        }
    }

    .logo {
        img {
            height: 3rem;
            width: auto;
            padding: 10px 0px;
            display: inline;
            padding-right: 10px;
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;
            font-family: Outfit;
            font-size: 18px;
            padding: 13px 20px;

            a {
                text-decoration: none;
                color: white;
                font-style: normal;
                font-weight: 400;
                padding: 13px 0px;

                &:hover {
                    color: aqua;
                }
            }
        }
    }
}

section {
    background-image: url("https://mobirise.com/extensions/socialm5/instagram-growth-agency/assets/images/background3.jpg");
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        max-height: 500px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .wrapper {
        position: relative;
        background: #fff8ef;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin-top: 30px;
    }
}

.item1 {
    .box {
        padding: 45px 50px;
        background-color: white;

        h2 {
            font-family: Outfit, sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;

            span {
                color: aqua;
                font-weight: 400;
            }
        }

        h1 {
            text-align: left;
            margin: 0;
            color: #522c67;
            margin-bottom: 20px;
            font-family: 'Montagu Slab', serif;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 400;
        }

        p {
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 400;
            display: block;
            text-align: left;
            width: 400px;
        }

    }
}

.item2 {
    .box {
        padding: 45px 50px;
        background-color: white;

        h2 {
            font-family: Outfit, sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;

            span {
                color: aqua;
                font-weight: 400;
            }
        }

        h1 {
            text-align: left;
            margin: 0;
            color: #522c67;
            margin-bottom: 20px;
            font-family: 'Montagu Slab', serif;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 400;
        }

        p {
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 400;
            display: block;
            text-align: left;
            width: 400px;
        }

    }

}

.item3 {
    .box {
        padding: 45px 50px;
        background-color: white;

        h2 {
            font-family: Outfit, sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;

            span {
                color: aqua;
                font-weight: 400;
            }
        }

        h1 {
            text-align: left;
            margin: 0;
            color: #522c67;
            margin-bottom: 20px;
            font-family: 'Montagu Slab', serif;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 400;
        }

        p {
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 400;
            display: block;
            text-align: left;
            width: 400px;
        }

    }

}

.item4 {
    .box {
        padding: 45px 50px;
        background-color: white;

        h2 {
            font-family: Outfit, sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;

            span {
                color: aqua;
                font-weight: 400;
            }
        }

        h1 {
            text-align: left;
            margin: 0;
            color: #522c67;
            margin-bottom: 20px;
            font-family: 'Montagu Slab', serif;
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 400;
        }

        p {
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
            font-weight: 400;
            display: block;
            text-align: left;
            width: 400px;
        }

    }

}

main {

    .specialties {
        background-color: #522c67;
    }

    .about {
        padding-top: 5rem;
        padding-bottom: 1rem;
    }

    h2 {
        color: white;
        margin-bottom: 20px;
        font-size: 18px;
        font-family: Outfit, sans-serif;
        color: #ffffff;
        text-align: center;
        letter-spacing: 5.4px;
        font-weight: 400;
    }

    h1 {
        color: white;
        text-align: center;
        font-family: 'Montagu Slab', serif;
        font-size: 4.6875rem;
        line-height: 1.1;
        font-weight: 400;
        padding-bottom: 16px;
    }

    .about2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 80px;

        img {
            background-size: auto;
        }

        .icons {
            display: block;
            font-size: 110px;
            color: #ffffff;
            margin-bottom: 20px;
            height: 100%;
            padding: 0px 49px;
    
            p {
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
            }
        }
    }

    .wwcd {
        background-color: white;
    }

    .w-about {
        padding: 80px 0px 16px;

        h1 {
            color: rgb(61, 98, 108);
            ;
        }

        h2 {
            color: rgb(1, 43, 58);
        }
    }

    .w-about2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 5rem;

        img {
            object-fit: cover;
        }

        .card1 {

            .card-title {
                position: absolute;
                margin-top: -125px;
                margin-left: 40px;
                color: white;
                font-family: "Montagu Slab", serif;
                font-size: 2.6875rem;
                line-height: 1.5;
            }
        }

        .card2 {

            .card-title2 {
                position: absolute;
                margin-top: -125px;
                margin-left: 30px;
                color: white;
                font-family: "Montagu Slab", serif;
                font-size: 2.6875rem;
                line-height: 1.5;
            }
        }

        .card3 {

            .card-title3 {
                position: absolute;
                margin-top: -125px;
                margin-left: 80px;
                color: white;
                font-family: "Montagu Slab", serif;
                font-size: 2.6875rem;
                line-height: 1.5;
            }
        }
    }

    .card-info {
        display: flex;
        padding-left: 16px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 5rem;

        .card-desc1 {
            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #511730;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }

        .card-desc2 {
            padding-top: 60px;
            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #e5be8a;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }

        .card-desc3 {
            padding-top: 60px;

            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #3d626c;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }

        .card-desc4 {
            padding-top: 60px;

            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #012b3a;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }

        .card-desc5 {
            padding-top: 60px;

            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #3d626c;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }

        .card-desc6 {
            padding-top: 60px;

            h3 {
                color: #012b3a;
                font-family: 'Montagu Slab', serif;
                font-size: 2rem;
                line-height: 1.5;
                font-weight: 400;
                margin-bottom: 20px;
            }

            i {
                font-size: 80px;
                margin-bottom: 20px;
                color: #8e443d;
            }

            p {
                width: 400px;
                font-family: 'Outfit', sans-serif;
                font-size: 1.125rem;
                line-height: 1.5;
                margin-bottom: 36px;
            }

            span {
                border-bottom: gray 1px solid;
                color: #3d626c;
                font-size: 18px;
                font-family: Outfit sans-serif;
                margin-bottom: 10px;
            }
        }
    }

    .works {
        padding-top: 5rem;
        background-color: #5f0e38;
        text-align: center;

        h1 {
            padding-bottom: 3rem;
        }

        .brands {
            padding-top: 2rem;
            padding-bottom: 6rem;
        }

        img {
            object-fit: cover;
            padding-right: 16px;
        }
    }

    .faq {
        padding-top: 6rem;
        background-image: url("https://mobirise.com/extensions/socialm5/instagram-growth-agency/assets/images/photo-1557682224-5b8590cd9ec5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        .questions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        span {
            font-family: 'Montagu Slab', serif;
            font-size: 2rem;
            line-height: 1.5;
            color: white;
            padding: 15px;
        }

        .questions-left {
            padding-bottom: 7rem;
            

            .questions1 {
                padding: 16px;
            }

            .questions2 {
                padding: 16px;
            }

            .questions3 {
                padding: 16px;                
            }
        }

        .questions-right {
            padding-bottom: 7rem;

            .questions1-r {
                padding: 16px;
            }

            .questions2-r {
                padding: 16px;
            }

            .questions3-r {
                padding: 16px;
            }
        }
    }

    .portfolio {
        padding-top: 2rem;
        padding-bottom: 5rem;
        background-color: white;

        h2 {
            margin-bottom: 20px;
            color: #012b3a;
            text-align: center;
            letter-spacing: 5.4px;
            font-family: 'Outfit', sans-serif;
            font-size: 1.125rem;
            line-height: 1.5;
        }

        h1 {
            color: #012b3a;
            font-family: 'Montagu Slab', serif;
            line-height: 1.1;
            font-size: 4.6875rem;
        }
    }

    .portfolio-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 200px;
        padding-right: 200px;

        img {
            padding: 16px;
        }
    }

    .contact {
        padding-top: 5rem;
        padding-bottom: 5rem;
        opacity: 0.6;
        background-color: rgb(242, 242, 242);

        h1, h2 {
            color: #012b3a;
            

            span {
                color: #8e443d;
                font-family: 'Montagu Slab', serif;
                font-size: 4.6875rem;
                line-height: 1.1;
                font-weight: 400;
                border-bottom: none;
            }
        }

        .form {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .name,
            .email,
            .phone,
            .company,
            .website,
            .budget,
            .message {
                padding: 10px;
            }

            .message {
                input {
                    height: 150px;
                    width: 65rem;

                }
            }

            input {
                height: 59px;
                color: #012b3a;
                font-size: 18px;
                width: 500px;

                &:placeholder-shown {
                    padding-left: 16px;
                }
            }
        }

        .submit {
            padding-right: 55em;
            margin-top: 11px;

            button {
                padding: 15px 30px;
                cursor: pointer;
                margin: 5px;
                background-color: #000000;
                border: 1px solid transparent;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                color: #ffffff;
                border-color: #000000;
                font-family: 'Outfit', sans-serif;
                line-height: 1.5;
                font-size: 1.125rem;
                appearance: none;
            }
        }
    }
}

footer {
    padding-top: 30px;
    background-color: #522c67;
    padding-bottom: 30px;
    text-align: left;

    .footer-text {
        padding-left: 32px;
    }

    a,
    p {
        text-decoration: none;
        color: white;
        font-family: 'Outfit', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
    }

}


@media screen and (max-width: 768px) {
    

    header {
    
        .navbar {
            display: none;
        }
        .touch {
            display: none;
        }

        .title {


            h2{
                
                font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
                line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
            }
            h1 {
                font-size: calc( 2.9031249999999997rem + (6.4375 - 2.9031249999999997) * ((100vw - 20rem) / (48 - 20)));
                line-height: calc( 1.1 * (2.9031249999999997rem + (6.4375 - 2.9031249999999997) * ((100vw - 20rem) / (48 - 20))));
                font-family: 'Montagu Slab', serif;
            }
        }
    }

    main {

        h1 {
            font-size: calc( 2.290625rem + (4.6875 - 2.290625) * ((100vw - 20rem) / (48 - 20)));
            line-height: calc( 1.3 * (2.290625rem + (4.6875 - 2.290625) * ((100vw - 20rem) / (48 - 20))));
        }

        .card-desc1, .card-desc2, .card-desc3, .card-desc4, .card-desc5, .card-desc6  {
            margin-bottom: 10px;
            padding-left: 20px;
        }

        .questions {
            text-align: left;
            span {
                padding: 0;
            }
        }

        .contact {
            h2 {
                font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
                line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
            }
        }
    }
}